*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#home{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    border: 1px solid #006666;
    background: linear-gradient(to right, #66CCCC, #006666);
}
.nav-bar{
    display: flex;
    padding: 30px 40px;
}
#logo{
    cursor: pointer;
}
.nav-logo{
    z-index: 1;
}
.nav-logo img{
    width: 100px;
}
.nav-links{
    z-index: 1;
    flex: 1;
}
.nav-links ul{
    float: right;
    margin-right: 2%;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-bar .fa{
    display: none;
}
.nav-list .fa{
    display: none;
}

#avatar{
    width: 250px;
    position: absolute;
    top: 50%;
    left: 38%;
    border-radius: 20%;
    border: 2px solid #66CCCC;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}
#profile{
    width: 500px;
    height: 300px;
    display: none;
    position: absolute;
    top: 35%;
    left: 25%;
    border-radius: 20px;
    border: 2px solid #66CCCC;
    background-color: #CCFFFF;
    cursor: pointer;
    z-index: 1;
}
.profile img{
    width: 250px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 10px;
    border: 2px solid #66CCCC;
}
.profile div img{
    width: 50px;
    top: 222px;
    position: absolute;
} 
.profile div h2{
    left: 25px;
    top: 265px;
    position: absolute;
}
.profile div h4{
    position: absolute;
    margin-left: 280px;
}
.profile div p{
    position: relative;
    margin-top: 10px;
    margin-left: 350px;
}

.information{
    width: 1000px;
    height: 1000px;
    position: relative;
    top: 30%;
    left: 0%;
    margin-left: -5%;
    transform: translatey(-50%);
}
#main{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: 1s;
}
.infor{
    position: absolute;
    display: flex;
    color: #006666;
}
.infor img{
    width: 100px;
}
.infor li{
    list-style: none;
}
.infor div{
    margin-left: 20px;
}
.infor div h1{
    margin-top: 20px;
}
.infor div p{
    margin-top: 8px;
}
.one{
    top: 100px;
    right: 260px;
    transform: rotate(-60deg);
}
.two{
    top: 390px;
    right: -80px;
}
.three{
    bottom: 150px;
    right: 120px;
    transform: rotate(60deg);
}
.four{
    bottom: 70px;
    right: 490px;
    transform: rotate(120deg);
}
.five{
    bottom: 380px;
    right: 750px;
    transform: rotate(180deg);
}
.six{
    top: 170px;
    right: 630px;
    transform: rotate(-120deg);
}

.controls{
    position: absolute;
    left: 90vw;
    top: 50%;
    text-align: center;
}
.controls h2{
    margin: -100px 0;
    color: #fff;
}
#next{
    margin-left: 5px;
    width: 50px;
    cursor: pointer;
    transform: rotate(270deg);
}
#back{
    margin-left: -5px;
    width: 50px;
    cursor: pointer;
    transform: rotate(90deg);
}
.overlay{
    width: 0;
    height: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius:  50%;
    border-bottom-right-radius:  50%;
    border-top-right-radius: 50%;
    border-top: 500px solid #006666; 
    border-right: 500px solid transparent; 
    border-left: 500px solid #006666; 
    border-bottom: 500px solid #006666; 
    position: absolute;
    left: 0;
    top: 0;
}

.details{
    width: 100vw;
    height: max-content;
    position: relative;
    top: 0;
    left: 0%;
    margin-left: 0;
    border-style: solid;
    border-color: #006666;
    background: linear-gradient(to right, #66CCCC, #006666);
}
.area1{
    position: absolute;
    width: 50vw;
    margin-left: 0vw;
    margin-top: 0vw;
}
.area2{
    position: relative;
    width: 50vw;
    margin-left: 0vw;
    margin-top: 0vw;
}
.detail1{ 
    width: 33vw;
    padding-right: 5vw;
    position: relative;
    color: #006666;
    background: #CCFFFF;
    border-style: solid;
    border-color: #003333;
    border-radius: 5px;
}
.detail2{
    margin-top: 5vw;
    margin-left: 50vw;
    width: 30vw;
    padding-right: 5vw;
    position: relative;
    color: #006666;
    background: #CCFFFF;
    border-style: solid;
    border-color: #003333;
    border-radius: 5px;
}
.details img{
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0.5vw;
    left: 0.5vw;
    width: 80px;
    height: 80px;
}
.details h2{
    position: absolute;
    margin-top: 30px;
    margin-left: 100px;
}
.details h3{
    margin-left: 15px;
    position: absolute;
    color: #000;
}
.details p{
    width: 75%;
    margin-left: 100px;
    text-align: justify;
    position: relative;
    color: #000;
}
.line{
    position: absolute;
    left: 100px;
    top: 70px;
    width: 68%;
    height: 5px;
    background: #006666;
}
.about{
    z-index: 1;
    position: relative;
    top: 10vw;
    left: 6vw;
}
.about h4{
    margin-left: 15px;
    position: absolute;
    color: #000;
}
.about1 p{
    margin-top: 100px;
    margin-left: 100px;
}
.about2 p{
    margin-top: 0px;
    margin-left: 100px;
}
.about3 p{
    margin-top: 0px;
    margin-left: 100px;
}
.experience{
    z-index: 1;
    position: relative;
    top: 14vw;
    left: 6vw;
}
.experience1 h3{
    margin-top: 0px;
}
.experience1 p{
    margin-top: 100px;
}
.experience2 h3{
    margin-top: 0px;
}
.experience2 p{
    margin-top: 0px;
}
.awards {
    position: relative;
    top: 0vw;
    left: 3vw;
}
.award1 h3{
    margin-top: 0px;
}
.award1 p{
    margin-top: 100px;
}
.award2 h3{
    margin-top: 0px;
}
.award2 p{
    margin-top: 0px;
}
.education {
    position: relative;
    top: -1vw;
    left: 3vw;
}
.edu1 h3{
    margin-top: 0px;
}
.edu1 p{
    margin-top: 100px;
}
.edu2 h3{
    margin-top: 0px;
}
.edu2 p{
    margin-top: 0px;
}
.skill{
    position: relative;
    top: -2vw;
    left: 3vw;
}
.imgskill img{
    position: relative;
    width: 20vw;
    height: 10vw;
    margin-left: 20%;
    margin-top: 100px;
}

.more{
    position: relative;
    display: flex;
    top: 0vw;
    left: 0vw;
}
#more{
    width: 100vw;
    height: 160px;
    position: relative;
    opacity: 100%;
    margin-top: 0;
    margin-left: 0vw;
    border-style: solid;
    border-top: 10px solid #66FFFF;
    border-bottom: 10px solid #66FFFF;
    background: #006666;
}
.more img{
    position: absolute;
    border-radius: 50%;
    border: 5px solid #CCFFFF;
    margin-top: 25px;
    margin-left: 15px;
    width: 100px;
    height: 100px;
}
.address {
    color: #fff;
    position: absolute;
}
.address h4{
    margin-top: 40px;
    margin-left: 150px;
}
.address h5{
    margin-top: -15px;
    margin-left: 250px;
}
.contact {
    color: #fff;
    position: absolute;
}
.contact h4{
    margin-top: 90px;
    margin-left: 150px;
}
.phone{
    margin-top: -15px;
    margin-left: 250px;
}
.email{
    margin-top: 10px;
    margin-left: 250px;
}
.social{
    color: #fff;
    position: absolute;
    top: 0;
    left: 60%;
}
.social h4{
    margin-left: 30px;
    margin-top: 30px;
}
.social .fa{
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
    width: 60px;
    height: 50px;
    color: #fff;
    display: block;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
.social .fa-facebook{
    position: absolute;
    top: 65px;
    left: 0px;
}
.social .fa-github{
    position: absolute;
    top: 65px;
    left: 80px;
}
.social .fa-codepen{
    position: absolute;
    top: 65px;
    left: 160px;
}
.top{
    position: absolute;
    right: 15%;
    bottom: 100%;    
}
.top img{
    border-color: #009999;
    width: 100px;
    height: 100px;
}

@media (max-width: 1000px){
    .nav-logo img{
        width: 100px;
    }
    .nav-bar{
        padding: 20px 20px;
    } 
    .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .nav-bar .fa{
        display: block;
        color: #fff;
        margin: 10px 20px;
        font-size: 50px;
        z-index: 1;
        cursor: pointer;
    }
    .nav-links{
        height: 100vh;
        width: 120px;
        background: #006666;
        top: 0;
        right: -120px;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul a{
        display: block;
    }
    @media (min-width: 700px){
    #home{
        height: 100vw;
    }
    .information{
        position: relative;
        margin-left: -150px;
    }
    .controls{
        position: absolute;
        left: 99vw;
        top: 70%;
        text-align: center;
    }
    .area2{
        margin-top: 10vw;
    }
    .details h3{
        width: 35px;
        margin-left: 15px;
    }
    .details p{
        margin-left: 60px;
    }
    .line{
        position: absolute;
        left: 100px;
        top: 70px;
        width: 60%;
        height: 5px;
        background: #006666;
    }
    .about{
        z-index: 1;
        position: relative;
        top: 10vw;
        left: 6vw;
    }
    .about h4{
        margin-left: 15px;
        position: absolute;
        color: #000;
    }
    .about p{
        width: 22vw;
        margin-left: 100px;
    }
    .about1 p{
        margin-top: 100px;
    }
    .about2 p{
        margin-top: 0px;
    }
    .about3 p{
        margin-top: 0px;
    }
    .experience{
        position: relative;
        top: 14vw;
        left: 6vw;
    }
    .experience p{
        text-align: left;
        width: 25vw;
    }
    .experience h3{
        margin-top: 0px;
    }
    .experience1 p{
        margin-top: 100px;
    }
    .experience2 p{
        margin-top: 0px;
    }
    .awards {
        position: relative;
        top: 0vw;
        left: 3vw;
    }
    .award h3{
        margin-top: 0px;
    }
    .award1 p{
        width: 22vw;
        margin-top: 100px;
    }
    .award2 p{
        width: 22vw;
        margin-top: 0px;
    }
    .education {
        position: relative;
        top: -1vw;
        left: 3vw;
    }
    .education h3{
        margin-top: 0px;
    }
    .edu1 p{
        width: 22vw;
        margin-top: 100px;
    }
    .edu2 p{
        width: 22vw;
        margin-top: 0px;
    }
    .skill{
        position: relative;
        top: -2vw;
        left: 3vw;
    }
    .imgskill img{
        position: relative;
        width: 25vw;
        height: 13vw;
        margin-left: 5vw;
        margin-top: 100px;
    }
    }
}

@media (max-width: 700px){
    #home{
        width: 101vw;
        height: 100vh;
    }
    #avatar{
        width: 50%;
        position: absolute;
        top: 100%;
        left: 75%;
        z-index: 1;
    }
    #profile{
        width: 88vw;
        height: 50vw;
        position: absolute;
        top: 48%;
        left: 20%;
        border-radius: 10px;
        border: 2px solid #66CCCC;
        background-color: #CCFFFF;
        cursor: pointer;
        z-index: 1;
    }
    .profile img{
        width: 40vw;
        position: absolute;
        top: 1%;
        left: 1%;
        border-radius: 5px;
        border: 2px solid #66CCCC;
    }
    .profile div img{
        width: 8vw;
        top: 35vw;
        position: absolute;
    } 
    .profile div h2{
        text-size-adjust: 80%;
        top: 43vw;
        left: 2vw;
        position: absolute;
    }
    .profile div h4{
        position: absolute;
        margin-left: 45vw;
    }
    .profile div p{
        width: 30vw;
        position: relative;
        margin-top: 2vw;
        margin-left: 60vw;
    }
    .information{
        width: 50vw;
        height: 50vw;
        position: absolute;
        top: 30%;
        left: 0vw;
    }
    #main{
        width: 50vw;
        height: 50vw;
        position: relative;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transition: 1s;
    }
    .infor{
        position: relative;
        display: flex;
        color: #006666;
    }
    .infor img{
        width: 12vw;
        height: 12vw;
    }
    .infor a{
        list-style: none;
    }
    .infor div{
        display: none;
        margin-left: 5px;
    }
    .infor div h1{
        display: none;
    }
    .infor div p{
        margin-top: 15px;
    }
    .one{
        top: -43%;
        right: 65%;
        transform: rotate(-120deg);
    }
    .two{
        top: -82%;
        right: -38%;
        transform: rotate(-60deg); 
    }
    .three{
        top: -25%;
        right: -100%;
        transform: rotate(0deg);
    }
    .four{
        top: 45%;
        right: -64%;
        transform: rotate(60deg);
    }
    .five{
        top: 38%;
        right: 38%;
        transform: rotate(120deg);
    }
    .six{
        top: -65%;
        right: 100%;
        transform: rotate(180deg);
    }
    .overlay{
        left: 0;
        border-top-left-radius: 50%;
        border-bottom-left-radius:  50%;
        border-bottom-right-radius:  50%;
        border-top-right-radius: 50%;
        border-top: 50vw solid #006666; 
        border-right: 50vw solid transparent; 
        border-left: 50vw solid #006666; 
        border-bottom: 50vw solid #006666; 
        position: absolute;
    }
    @media (min-width: 500px){
        .controls{
            position: absolute;
            left: 80vw;
            top: 150%;
            text-align: center;
            }
        }
    @media (max-width: 500px){
    .controls{
        display: flex;
        height: 50px;
        position: relative;
        text-align: center;
        top: 60vw;
        left: 25vw;
    }
    .controls h2{
        margin-top: 10px;
        color: #fff;
    }
    #back{
        margin-bottom: 5px;
        cursor: pointer;
        transform: rotate(180deg);
    }
    #next{
        margin-top: 5px;
        cursor: pointer;
        transform: rotate(0deg);
    }
    }

    .details{
        width: 100vw;
        height: max-content;
        position: relative;
        top: 0vw;
        left: 0%;
        margin-left: 0;
        border: 3px solid #006666;
        background: linear-gradient(to right, #66CCCC, #006666);
    }
    .area1{
        position: relative;
        width: 50vw;
        left: 0vw;
        top: 0vw;
    }
    .area2{
        position: relative;
        width: 0vw;
        left: 4vw;
        top: 10vw;
    }
    .detail1{ 
        width: 82vw;
        position: relative;
        color: #006666;
        background: #CCFFFF;
        border-style: solid;
        border-color: #003333;
        border-radius: 5px;
    }
    .detail2{
        width: 82vw;
        margin-top: 5vw;
        margin-left: 0vw;
        position: relative;
        color: #006666;
        background: #CCFFFF;
        border-style: solid;
        border-color: #003333;
        border-radius: 5px;
    }
    .details img{
        z-index: 1;
        cursor: pointer;
        position: absolute;
        top: 1vw;
        left: 1vw;
        width: 60px;
        height: 60px;
    }
    .details h2{
        position: absolute;
        margin-top: 16px;
        margin-left: 70px;
    }
    .details h3{
        position: absolute;
        color: #000;
        width: 34px;
        margin-left: 15px;
    }
    .details p{
        position: relative;
        color: #000;
        width: 80%;
        margin-left: 60px;
    }
    .line{
        position: absolute;
        left: 65px;
        top: 50px;
        width: 70%;
        height: 5px;
        background: #006666;
    }
    .about{
        z-index: 1;
        position: relative;
        top: 10vw;
        left: 6vw;
    }
    .about h4{
        margin-left: 10px;
        position: absolute;
        color: #000;
    }
    .about p{
        width: 70%;
        margin-left: 90px;
    }
    .about1 p{
        margin-top: 70px;
    }
    .about2 p{
        margin-top: 0px;
    }
    .about3 p{
        margin-top: 0px;
    }
    .experience{
        position: relative;
        top: 15vw;
        left: 6vw;
    }
    .experience h3{
        margin-top: 0px;
    }
    .experience1 p{
        text-align: left ;
        margin-top: 70px;
    }
    .experience2 p{
        text-align: left ;
        margin-top: 0px;
    }
    .awards {
        position: relative;
        top: 5vw;
        left: 2vw;
    }
    .award h3{
        margin-top: 0px;
    }
    .award1 p{
        margin-top: 70px;
    }
    .award2 p{
        margin-top: 0px;
    }
    .education {
        position: relative;
        top: 5vw;
        left: 2vw;
    }
    .education h3{
        margin-top: -5px;
    }
    .edu1 p{
        margin-top: 70px;
    }
    .edu2 p{
        margin-top: 10px;
    }
    .skill{
        position: relative;
        top: 5vw;
        left: 2vw;
    }
    .imgskill img{
        position: relative;
        width: 50vw;
        height: 25vw;
        margin-left: 20%;
        margin-top: 70px;
    }

    .more{
        position: relative;
        display: flex;
        top: 0vw;
        left: 0vw;
    }
    #more{
        width: 100vw;
        height: max-content;
        position: relative;
        opacity: 100%;
        margin-top: 0;
        margin-left: 0vw;
        border-style: solid;
        border-top: 10px solid #66FFFF;
        border-bottom: 10px solid #66FFFF;
        background: #006666;
    }
    .more img{
        position: absolute;
        border-radius: 50%;
        border: 5px solid #CCFFFF;
        margin-top: 10px;
        margin-left: 10px;
        width: 60px;
        height: 60px;
    }
    .address {
        color: #fff;
        position: absolute;
    }
    .address h4{
        margin: 120px 10vw 0;
    }
    .address h5{
        width: 70vw;
        margin: 10px 15vw 0;
    }
    .contact {
        color: #fff;
        position: relative;
    }
    .contact h4{
        margin: 200px 10vw 0;
    }
    .phone{
        margin: 10px 15vw 0;
    }
    .email{
        margin: 10px 15vw 10vw;
    }
    .social{
        color: #fff;
        position: absolute;
        top: 0;
        left: 30%;
    }
    .social h4{
        margin-left: 30px;
        margin-top: 20px;
    }
    .social .fa{
        font-size: 40px;
        padding-top: 10px;
        text-align: center;
        width: 60px;
        height: 50px;
        color: #fff;
        display: block;
        border: 2px solid #fff;
        border-radius: 50%;
        z-index: 1;
    }
    .social .fa-facebook{
        position: absolute;
        top: 50px;
        left: 0px;
    }
    .social .fa-github{
        position: absolute;
        top: 50px;
        left: 80px;
    }
    .social .fa-codepen{
        position: absolute;
        top: 50px;
        left: 160px;
    }
    .top{
        position: absolute;
        right: 20vw;
        bottom: 20vw;    
    }
    .top img{
        border-color: #009999;
        width: 50px;
        height: 50px;
    }
}